flows.json
[{"id":"2b9c247.df6a7dc","type":"mqtt in","z":"f70d9351.082978","name":"","topic":"shairport/title","qos":"0","datatype":"utf8","broker":"e48d4a0d.6d1f58","x":210,"y":140,"wires":[["632dd761.fb126"]]},{"id":"632dd761.fb126","type":"debug","z":"f70d9351.082978","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":360,"y":141,"wires":[]},{"id":"4ff7d50c.243094","type":"inject","z":"f70d9351.082978","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"playpause","payloadType":"str","x":200,"y":220,"wires":[["4b20c531.715814"]]},{"id":"4b20c531.715814","type":"mqtt out","z":"f70d9351.082978","name":"","topic":"shairport/remote","qos":"0","retain":"","broker":"e48d4a0d.6d1f58","x":990,"y":200,"wires":[]},{"id":"114e3fea.3176d","type":"inject","z":"f70d9351.082978","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nextitem","payloadType":"str","x":180,"y":280,"wires":[["4b20c531.715814"]]},{"id":"54171ae4.cb6934","type":"inject","z":"f70d9351.082978","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"previtem","payloadType":"str","x":180,"y":320,"wires":[["4b20c531.715814"]]},{"id":"5547f824.965958","type":"mqtt in","z":"f70d9351.082978","name":"","topic":"beo_eye/command","qos":"0","datatype":"auto","broker":"e48d4a0d.6d1f58","x":180,"y":520,"wires":[["5dfc4467.23fc9c","f62214c0.a7dcd8"]]},{"id":"5dfc4467.23fc9c","type":"debug","z":"f70d9351.082978","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":220,"y":440,"wires":[]},{"id":"f62214c0.a7dcd8","type":"switch","z":"f70d9351.082978","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"81","vt":"str"},{"t":"eq","v":"91","vt":"str"},{"t":"eq","v":"93","vt":"str"},{"t":"eq","v":"C","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":440,"y":440,"wires":[["166db851.2c6f1"],["e24a619f.3627c"],["4bb7bb24.cea5e4"],["d2a54ef9.2cfc3","1ef66e6.00e5712"],["50ed9fa9.637b7","d2a54ef9.2cfc3"],["9ddeadc6.e446b","d2a54ef9.2cfc3"],["6ed81de3.cefbbc","b7c3c68c.2dbac"]]},{"id":"166db851.2c6f1","type":"change","z":"f70d9351.082978","name":"Prev","rules":[{"t":"set","p":"payload","pt":"msg","to":"previtem","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["4b20c531.715814"]]},{"id":"e24a619f.3627c","type":"change","z":"f70d9351.082978","name":"Next","rules":[{"t":"set","p":"payload","pt":"msg","to":"nextitem","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":360,"wires":[["4b20c531.715814"]]},{"id":"4bb7bb24.cea5e4","type":"change","z":"f70d9351.082978","name":"Play/pause","rules":[{"t":"set","p":"payload","pt":"msg","to":"playpause","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":400,"wires":[["4b20c531.715814"]]},{"id":"d9c13226.1af638","type":"mqtt out","z":"f70d9351.082978","name":"","topic":"beo_eye/led","qos":"0","retain":"","broker":"e48d4a0d.6d1f58","x":570,"y":620,"wires":[]},{"id":"65b8b7cd.1871d8","type":"inject","z":"f70d9351.082978","name":"PlayLED","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"play","payloadType":"str","x":180,"y":700,"wires":[["d9c13226.1af638"]]},{"id":"7c475e25.7007f8","type":"inject","z":"f70d9351.082978","name":"TimerLED","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"timer","payloadType":"str","x":180,"y":640,"wires":[["d9c13226.1af638"]]},{"id":"f820c074.c61a4","type":"mqtt in","z":"f70d9351.082978","name":"","topic":"beo_eye/led1/cmd","qos":"0","datatype":"auto","broker":"e48d4a0d.6d1f58","x":160,"y":600,"wires":[["9a65f3e4.df0848"]]},{"id":"1d2999c2.a2d2fe","type":"mqtt in","z":"f70d9351.082978","name":"","topic":"beo_eye/led2/cmd","qos":"0","datatype":"auto","broker":"e48d4a0d.6d1f58","x":170,"y":740,"wires":[["823de8fa.411e98"]]},{"id":"9a65f3e4.df0848","type":"function","z":"f70d9351.082978","name":"","func":"msg.payload = \"timer\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":600,"wires":[["d9c13226.1af638"]]},{"id":"823de8fa.411e98","type":"function","z":"f70d9351.082978","name":"","func":"msg.payload = \"play\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":700,"wires":[["d9c13226.1af638"]]},{"id":"b8817689.db6568","type":"mqtt in","z":"f70d9351.082978","name":"","topic":"beo_eye/led1/","qos":"1","datatype":"auto","broker":"e48d4a0d.6d1f58","x":570,"y":700,"wires":[["7d8e3f00.3ec888"]]},{"id":"7d8e3f00.3ec888","type":"debug","z":"f70d9351.082978","name":"result","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":700,"wires":[]},{"id":"27a4e774.7f50d","type":"mqtt out","z":"f70d9351.082978","name":"","topic":"beo/src1","qos":"0","retain":"true","broker":"e48d4a0d.6d1f58","x":860,"y":440,"wires":[]},{"id":"d2a54ef9.2cfc3","type":"change","z":"f70d9351.082978","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":520,"wires":[["5f14583d.a3dbc8"]]},{"id":"50ed9fa9.637b7","type":"change","z":"f70d9351.082978","name":"Tape","rules":[{"t":"set","p":"payload","pt":"msg","to":"tape","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["27a4e774.7f50d"]]},{"id":"9ddeadc6.e446b","type":"change","z":"f70d9351.082978","name":"Aux","rules":[{"t":"set","p":"payload","pt":"msg","to":"aux","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":520,"wires":[["27a4e774.7f50d"]]},{"id":"6ed81de3.cefbbc","type":"change","z":"f70d9351.082978","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":580,"wires":[["5f14583d.a3dbc8"]]},{"id":"b7c3c68c.2dbac","type":"change","z":"f70d9351.082978","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":560,"wires":[["27a4e774.7f50d"]]},{"id":"fd3957c4.864388","type":"debug","z":"f70d9351.082978","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":380,"wires":[]},{"id":"be889962.c33698","type":"inject","z":"f70d9351.082978","name":"radio","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"radio","payloadType":"str","x":210,"y":360,"wires":[["27a4e774.7f50d"]]},{"id":"5f14583d.a3dbc8","type":"mqtt out","z":"f70d9351.082978","name":"","topic":"beo/state","qos":"0","retain":"true","broker":"e48d4a0d.6d1f58","x":900,"y":560,"wires":[]},{"id":"1ef66e6.00e5712","type":"change","z":"f70d9351.082978","name":"Radio","rules":[{"t":"set","p":"payload","pt":"msg","to":"radio","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":440,"wires":[["27a4e774.7f50d"]]},{"id":"e48d4a0d.6d1f58","type":"mqtt-broker","name":"","broker":"192.168.0.163","port":"1883","tls":"75ea5f0b.71719","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"zwiftfan/speed","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"75ea5f0b.71719","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]